
body

{
    
        color: black;
        background-color: seagreen
        
}

*{
    font-family: georgia
}

h1 {
    background-color: white ;
    width: 220
}

p {
    
    background-color: darkseagreen }



a:hover {
    
    background-color:whitesmoke
}

.column1 {
  float: right;
  width: 48%;
    padding-top:10px;
}

.column2 {
  float: left;
  width: 48%;
    padding-top: 10px
}


   

h3{
    
   background-color: white;
       width: 52
}